* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
}

body {
  background: url('./nature_img.png') no-repeat center center/cover;
  color: white;
}

#degree-symbol {
  font-size: 0.7rem;
}

.main {
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
}

nav h1 {
  font-size: 1rem;
  font-weight: normal;
}

.only-search {
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 900px;
  width: 700px;
}

.search-bar {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.search-bar input {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.1rem;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.temperature {
  display: flex;
}

.units {
  align-items: center;
  display: flex;
  justify-content: center;
}

.units button {
  background: none;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 10px;
}

.units button:focus {
  outline: none;
}

.units button:hover {
  background-color: rgb(119, 119, 119);
  color: white;
  cursor: pointer;
}

button.unit-active-highlight {
  background: white;
}

.weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.weather-card img {
  margin-bottom: 50px;
  max-width: 100%;
}

.weather-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-evenly;
  line-height: 4rem;
}

.weather-left div {
  display: flex;
  flex-direction: column;
}

.weather-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: space-evenly;
  line-height: 3rem;
}

.weather-right div {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  width: 330px;
}

@media (max-width: 768px) {
  .main {
    height: 100%;
    width: 100%;
  }

  .only-search {
    width: 100%;
  }

  .weather-card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
  }

  .weather-card img {
    margin: 0;
  }

  /* Left side of weather card */
  .weather-left {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
      "city temp"
      "img sky";
    line-height: 2rem;
  }

  .weather-left div {
    font-size: 1.3rem;
    height: auto;
    width: auto;
  }

  #city-name {
    grid-area: city;
  }

  #weather-img {
    grid-area: img;
  }

  #temp {
    grid-area: temp;
  }

  #weather-sky {
    grid-area: sky;
  }

  /* Right side of weather card */
  .weather-right {
    display: grid;
    font-size: 1.3rem;
    grid-template-rows: auto;
    grid-template-areas:
      "time"
      "wind humidity";
    line-height: 2rem;
    row-gap: 10px;
  }

  .weather-right div {
    height: auto;
    padding: 10px;
    width: auto;
  }
}